##################
# common ignores #
##################
*.log
*.tmp
*.bak
*.swp
*.bkp

##################
# systemRDL ignores 
##################
systemRDL/*/*/*
!systemRDL/*/*/*.rdl


##################
# systemverilog ignores 
##################
systemverilog/*/*
!systemverilog/*/*.v
!systemverilog/*/*.sv
!systemverilog/*/*.png
!systemverilog/*/*.jpg
!systemverilog/*/*.jpeg
!systemverilog/*/*.drawio
