##################
# common ignores #
##################
*.log
*.tmp
*.bak
*.swp
*.bkp

##################
# systemRDL ignores 
##################
systemRDL/*/*/*
!systemRDL/*/*/*.rdl


##################
# systemverilog ignores 
##################
systemverilog/*/*/*
!systemverilog/*/*/*.v
!systemverilog/*/*/*.vh
!systemverilog/*/*/*.sv
!systemverilog/*/*/*.svh
!systemverilog/*/*/*.png
!systemverilog/*/*/*.jpg
!systemverilog/*/*/*.jpeg
!systemverilog/*/*/*.drawio
